.content {
  column-count: 3;
  width: 1000px;
  column-gap: 5px;
  margin: auto;
}

.content_image {
  width: 100%;
  height: auto;
}

.toolbar {
  margin: auto auto 10px;
  width: 1000px;
}

.button {
  padding: 10px;
  margin: 5px;
  border: solid black 1px;
  background-color: transparent;
  cursor: pointer;
}

.button:disabled {
  background-color: grey;
  color: white;
}